/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
RENCANA_PERUBAHAN_PELANGGAN_ID.md
bash.exe.stackdump
TODO.md
ALTERNATIF_PELANGGAN_ID.md
FIX_PELANGGAN_ID.md
PERINGATAN_MIGRATION_MGR_FORMAT.md
PHASE1_USERS_COMPLETE.md
PLAN_PERUBAHAN_ID_FORMAT.md
RINGKASAN_PERUBAHAN.md
FIX_PELANGGAN_USER_ID.md
TESTING_PHASE1.md